[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/FlexW/fmt
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/FlexW/glfw
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/FlexW/assimp
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/FlexW/glm
